#container{
  max-height: 1280px;
  width:100%;
  background-color: aliceBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#incButton{
  padding: 10px 15px;
}
#dcrButton{
  padding: 10px 15px;
  margin-left: 10px;
}
#reset{
  padding: 10px 15px;
  margin-left: 10px;
}
#incBtnx5{
  padding: 10px 15px;
  margin-left: 10px;
}
#dcrBtnx5{
  padding: 10px 15px;
  margin-left: 10px;
}
#btnContainer{
  border: 2px dotted blue;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button{
  color:white;
  background: black;
}
button:hover{
  color: black;
  background: white;
}
p{
  color: red;
}
h3{
  color:red;
}